<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Wood Sales</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
<h1>All Sales</h1>
{% if sales == [] %}
    <p>No Sales: Table is Empty</p>
{% endif %}
<ul>
    {% for sale in sales %}
        <li>
            <a href="{{ url_for('delete', id=sale.id) }}">Delete</a>
            {{ sale.id }} - {{ sale.date }} - {{ sale.time }} - {{ sale.employee }} - ${{ sale.amount }}
            <a href="{{ url_for('edit', id=sale.id) }}">Edit</a>
        </li>
    {% endfor %}
</ul>


<a href="{{ url_for('add') }}">Add New Wood Sale</a>
</body>
<footer>
    <p>
        Copyright {{ year }} © Jay Patel
    </p>
</footer>
</html>
